:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
    --background-header: linear-gradient(-45deg, #361fad, #5309A5, #7C0D93, #640a9c, #5653c2);
    --background-size: 400% 400%;
    --background-cards: linear-gradient(90deg, #f84a98,#e454ba,#c465d9,#9375f0,#4084fe);
    --animation-header: gradient 10s ease infinite;
        --menu-width: 220px;
        --text-footer-color: white;
        --icon-width-and-height: 110px;
        --transparent: rgba(49, 21, 21, 0.088);
}   